<!doctype html>
<!--
<html>
<head>
-->
<html>
<head>
  <meta charset="utf-8">
  <title data-i18n="活动详情">活动详情</title>
  <link href="css/pub.css" rel="stylesheet" type="text/css">
  <link href="../../public/css/swiper.min.css" rel="stylesheet" type="text/css">
  <link href="../../public/plugins/show-container/show-container.css" rel="stylesheet" type="text/css">
  
  <script src="../../public/js/jquery.js"></script>
  <script src="../../public/js/app.js"></script>
  <script src="../../public/js/bestime@beta.min.js"></script>
  <script src="../../public/js/vue.min.js"></script> 
  <script src="../../public/js/tween.js"></script>        
  <script src="../../public/js/swiper341.min.js"></script>
	<script src="../../public/plugins/show-container/show-container.js"></script>
  <script src="../../public/plugins/tooltip/tool-tip.js"></script>

  <script src="./js/wave.js"></script>
  <script src="./js/star.js"></script>
  
</head>

<body app-w="1240" app-h="808" class="body_show body_hide">
	<div class="outerWrapper" id="app" :class="pageType">
  		
    	<div class="mainBox" ref="mainBox">
        	<img class="mianClose" src="./images/close01.png" app-close="true">            
        	<div class="top" id="canvasWrapper">   
            	<div move style="position:absolute;width:100%;height:100%;z-index:999;"></div>         	
                <canvas id="starCanvas"></canvas>
                <canvas id="sineCanvas"></canvas>
                <img class="imgtitle" src="./images/pic01.png">                
                <img class="waveBottom" src="./images/pic02.png">                
            </div>














            <div class="centerBox" id="centerBox">
                <div class="c_left">
                    <div class="g_title">
                        <div class="yw">internet</div>
                        <div class="text"><a><span>{{ activityData.name }}</span></a></div>
                    </div>
                    <div class="hdBox">
                    	<div class="hd_part hd_time">
                        	<div class="tit">
                            	<i></i>
                                <span class="t_bold" data-i18n="活动时间：">活动时间：</span>
                                <span>{{ activityData.hd_data }}</span>
                            </div>                            
                        </div>
                        <div class="hd_part hd_gz">
                        	<div class="tit">
                            	<i></i>
                                <span class="t_bold" data-i18n="活动规则">活动规则</span>
                            </div>
                            <div class="height01"></div>
                            <div class="hd_ct">
                                <div v-for="(rule, index) in activityData.hd_rules">{{ index+1 }}、 {{ rule }}</div>
                            </div>
                        </div>
                        <div class="hd_part hd_jxsz">
                        	<div class="tit">
                            	<i></i>
                                <span class="t_bold" data-i18n="奖项设置">奖项设置</span>
                            </div>
                            <div class="height01"></div>
                            <div class="slide0414"> 
                            	<div class="swiper-container swiper0415">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" v-for="(item, index) in swiperData">
                                        	<a>
                                                <img :src="item.pic" @error="getCorrectSrc($event)">
                                                <div class="j_rank">{{ item.name }}</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="c_right">
                	<div class="g_title">
                        <div class="yw">ranking</div>
                        <div class="text tabs">
                        	<a @click="tabGoTo(1)" :class="{'active': tabIndex==1}"><span data-i18n="当前排名">当前排名</span></a>
                            <a @click="tabGoTo(2)" :class="{'active': tabIndex==2}"><span>{{ pageType=='type1' ? '中奖记录' : '往期记录' }}</span></a>
                        </div>
                    </div>  
                    <div class="tabContent">                    	
                    	<div class="mainTabContent">
                        	<!-- tabitem -->
                        	<div class="tabItem rankBox" v-if="pageType=='type2'">
                                <table class="t_top" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="paiming" data-i18n="排名">排名</td>
                                        <td class="nichen" data-i18n="昵称">昵称</td>
                                        <td class="san" data-i18n="数量">数量</td>
                                    </tr>
                                </table>
                                <div class="scrollTable">
                                	<div class="noDataTip" v-if="!activityData.hd_ranking.length" data-i18n="暂无数据">暂无数据</div>
                                    <table border="0" cellpadding="0" cellspacing="0" v-if="activityData.hd_ranking.length">
                                        <tr v-for="(item, index) in activityData.hd_ranking" :class="{'guanjun': item.rank==1,'jijun': item.rank==2,'yajun': item.rank==3}">
                                            <td class="guanjun paiming"><i class="rankIcon">{{ item.rank > 2 ? item.rank : '' }}</i></td>
                                            <td class="nichen">
                                            	<img class="userPic" :src="activityData.uid_data[item.uid] && activityData.uid_data[item.uid].face"></img>
                                                <span>{{ activityData.uid_data[item.uid] && activityData.uid_data[item.uid].nickname }}</span>
                                            </td>
                                            <td class="san">{{ item.top }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="t_bottom" border="0" cellspacing="0" cellpadding="0">
                                    <tr>                            	
                                        <td class="guanjun paiming">
                                        	<img class="picWo" src="./images/wo.png">
                                            <i class="rankIcon">{{ activityData.hd_uid_rank && activityData.hd_uid_rank.rank }}</i>
                                        </td>
                                        <td class="nichen">
                                            <img class="userPic" :src="currentUser && currentUser.data && currentUser.data.face"></img>
                                            <span>{{ currentUser.name }}</span>
                                        </td>
                                        <td class="san">{{ activityData.hd_uid_rank && activityData.hd_uid_rank.top }}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- tabitem -->
                            <div class="tabItem">
                            	<!-- 中奖记录 -->
                                <div class="tabItem rankBox zjjl" v-if="pageType=='type1'">
                                    <table class="t_top" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                        	<td class="nichen" data-i18n="时间">时间</td>
                                          <td class="nichen" data-i18n="昵称">昵称</td>
                                          <td class="si" data-i18n="礼包">礼包</td>
                                        </tr>
                                    </table>
                                    <div class="scrollTable">
                                    	<div class="noDataTip" v-if="!recordData.length" data-i18n="暂无数据">暂无数据</div>
                                        <table border="0" cellpadding="0" cellspacing="0" v-if="recordData.length">
                                            <tr v-for="(item, index) in recordData" :key="index">
                                            	<td class="san">{{ item.ctime }}</td>
                                                <td class="nichen"><img class="userPic" :src="item.user && item.user.face"></img><span>{{ item.user.nickname }}</span></td>
                                                <td class="san">
                                                    <img class="giftImg" :src="item.gift_icon"/>{{ item.gift_name }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                
                                <!-- 往期记录 -->
                                <div class="tabItem rankBox zjjl" v-if="pageType=='type2'">
                                    <table class="t_top" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                        	<td class="nichen" data-i18n="时间">时间</td>
                                            <td class="nichen" data-i18n="昵称">昵称</td>
                                            <td class="san" data-i18n="礼包">礼包</td>
                                            <td data-i18n="名次">名次</td>
                                            <td data-i18n="数量">数量</td>
                                        </tr>
                                    </table>
                                    <div class="scrollTable">
                                    	<div class="noDataTip" v-if="!recordData.length" data-i18n="暂无数据">暂无数据</div>
                                        <table border="0" cellpadding="0" cellspacing="0" v-if="recordData.length">
                                            <tr v-for="(item, index) in recordData">
                                            	<td class="san">{{ item.ctime }}</td>
                                                <td class="nichen"><img class="userPic" :src="item.user && item.user.face"></img>
                                                	<tool-tip class="nickname2">
                                                  	<div slot="title">{{ item.user.nickname }}</div>
                                                    <div slot="more">{{ item.user.nickname }}</div>
                                                  </tool-tip>
                                                  <!--
                                                	<span>{{ item.user.nickname.toString().substr(0,5) }}</span>
                                                  -->
                                                </td>
                                                <td class="san"><img class="giftImg" :src="item.gift_icon"/>
                                                	<tool-tip>
                                                  	<div slot="title" class="gift_name2">{{ item.gift_name }}</div>
                                                    <div slot="more">{{ item.gift_name }}</div>
                                                  </tool-tip>
                                                	<!--
                                                  <span>{{ item.gift_name.toString().substr(0,5) }}</span>
                                                  -->
                                                </td>
                                                <td>{{ item.from_id }}</td>
                                            	<td>{{ item.ext }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>














        </div>        
    </div> 


<script src="../../public/js/ActivityFocusesOnWeChat.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
